src/main/mule/travis-ci-demo-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cc408638-74bb-45c7-92b7-891289dea5fe" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="travis-ci-demo-appFlow" doc:id="37502603-a7b3-434d-9f95-e0efab5943a3" >
		<http:listener doc:name="Listener" doc:id="c1caa9dc-b6b7-4dca-89ab-dd45b6d6a28f" config-ref="HTTP_Listener_config" path="/v1.0/datetime"/>
		<set-payload value='#["payload" + now()]' doc:name="Set Payload" doc:id="8ed413db-2c97-465f-bc5b-96e0ea788071" />
	</flow>          
</mule> 
              